<%= form_with(model: elderly, local: true) do |form| %>
  <% if elderly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elderly.errors.count, "error") %> prohibited this elderly from being saved:</h2>

      <ul>
      <% elderly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :elderly_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
